<h1>Dragon Ball</h1>
<hr>

<div class="row">
    <div class="col">
        <app-personaje [personajes]="personajes"></app-personaje>
    </div>
    <div class="col">
        <app-agregar> [personajes]="personajes" [nuevo]="nuevo"</app-agregar>
    </div>
</div>
