/* You can add global styles to this file, and also import other style files */

.p-1{
    padding: 1px;
}

.row{
    display: flex;
}

.col{
    flex-grow: 1;
    margin-right: 10px;
}

input{
    display: block;
    margin: 5px;
}
