<h3>Agregar <small>{{ nuevopj.nombre }}</small></h3>
<hr>
<form (ngSubmit)="agregar()">
    <input 
        type="text" 
        placeholder="Nombre"
        name="nombre"
        [(ngModel)]="nuevopj.nombre"
    />
    <!-- [value]="nuevopj.nombre"
    (input)="cambiarNombre ($event)" -->
    <input 
        type="number" 
        placeholder="Poder"
        name="poder"
        [(ngModel)]="nuevopj.poder"
    />
    <button>
        Agregar Personaje
    </button>
</form>
